<!DOCTYPE html>
<html lang="ko">
  <head>

   <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% if title %}
      <title>{{ title }} | Sports Monologue</title>
    {% else %}
      <title>Sports Monologue</title>
    {% endif %}

    <link rel="stylesheet" href="/style/main.css" />

    {% if title == "트윈스타" %}
  <link rel="stylesheet" href="/style/twins-tar.css" />

{% endif %}
    {# 추가 스타일 삽입용 블록 (선택) #}
    {% block styles %}{% endblock %}
  </head>

  <body>
    {% include "header.njk" %}

    <main class="main-container">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>

    {# 추가 스크립트 삽입용 블록 (선택) #}
    {% block scripts %}{% endblock %}
  </body>
</html>