<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/style/main.css" />
    <title>{{ title }} | Sports Monologue</title>
  </head>
  <body>
    {% include "header.njk" %}

    <main class="main-container">
      <article class="post-article">
        
        {% if category %}
          <p class="post-meta">
            <span class="post-category">[{{ category }}]</span>
          </p>
        {% endif %}

        {% if title %}
          <h1 class="post-title">{{ title }}</h1>
        {% endif %}

        {{ content | safe }}

      </article>
    </main>

    {% include "footer.njk" %}
  </body>
</html>