.team-box.lg {
  background-color: #000000d5;
  color: #d40059;
}
.team-box.doosan {
  background-color: #1a1748e0;
  color: #eb1d24a2;
}
.team-box.ssg {
  background-color: #ce0e2e;
  color: #FFB81C;
}
.team-box.lotte {
  background-color: #041e42e5;
  color: #d00f32ee;
}
.team-box.samsung {
  background-color: #c0c0c0af;
  color: #074ca1dc;
}
.team-box.hanwha {
  background-color: #fc5000ce;
  color: #07111f9a;
}
.team-box.kia {
  background-color: #ea002b;
  color: #06141f;
}
.team-box.kiwoom {
  background-color: #570514f3;
  color: #e7e7e7;
}
.team-box.nc {
  background-color: #af917bec;
  color: #315288d2;
}
.team-box.kt {
  background-color: #000000f1;
  color: #eb1c23ef;
}