---
layout: layoutteam-layout.njk
title: 두산 베어스
teamCss: team-doosan.css
category: doosan
---

{% set  recentGame = gameResults.doosan %}

<h2>마운드 안정화, 반격의 신호탄</h2>
<p>불안하던 불펜이 안정을 되찾으며 분위기 반전에 성공했다.</p>