---
layout: layouts/team-layout.njk
title: 삼성 라이온즈
teamCss: team-samsung.css
category: samsung
---

{% set  recentGame = gameResults.samsung %}

<h2>김현준의 성장, 타선 재편의 열쇠</h2>
<p>상승세를 타고 있는 김현준의 활약이 중심 타선에 새로운 힘을 불어넣고 있다.</p>