<body>
  {% include "header.njk" %}

  {% if title == "트윈스타" %}
  <link rel="stylesheet" href="/style/twins-tar.css" />
  {% endif %}
    
  {% if not isHome %}
    <button class="back-button" onclick="history.back()">←</button>
  {% endif %}

    <section class="content-area">
      {% block content %}
        {% if title %}
          <h1 class="post-title">{{ title }}</h1>
        {% endif %}
        {{ content | safe }}
      {% endblock %}
    </section>

  {% include "footer.njk" %}

  <!-- ✅ 토글 스크립트 추가 -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const toggleBtn = document.getElementById("sidebar-toggle");
      const sidebar = document.querySelector(".sidebar");

      toggleBtn.addEventListener("click", () => {
        sidebar.classList.toggle("active");
      });
    });
  </script>
</body>